<p id="notice"><%= notice %></p>
<p>この記事のID: <%= @post.id %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div>
  <% if @comments %>
  <% @comments.each do |comment| %>
  <p><%= comment.name %>: <%= comment.text %></p>
  <% end %>
  <% end %>

  <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
  <p><input type="text" name="name" placeholder="名前"></p>
  <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
  <p><input type="submit" value="SENT"></p>
  <% end %>
</div>
