<!DOCTYPE html>
<html>
  <head>
    <title>BlogLessons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-right">
        <h1><%= link_to 'Blog', '/' %></h1>
      </div>
      <div class="header-left">
        <h1><%= link_to 'New Post', new_post_path %></h1>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
